[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
requests = "*"
blessed = "*"
jinxed = "*"
discord = "*"
toml = "*"

[requires]
python_version = "3.12"
